body{
  background-color: white;
  background-image: url(../css/img/1.png);
  background-repeat:space repeat;
  background-attachment: fixed;
}
p{
   color:#A4A400;
   font-family:sans-serif;
   font-size: 22px;
   text-decoration:underline;
   letter-spacing: 5px;
}
p span{
   background-color:#F0F0F0;
}
img{
  width: 250px;
  height: 260px;
}
.photo
{
  list-style-image: url(../css/img/pie_bullet.png);
}
pre{
  font-size: 15px;
  font-family:serif;
}
.s{
  margin: 0;
  padding: 0px 40px;
  background-color:#FFFFA8;
  background-clip: content-box;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
   text-decoration:underline;
   text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
 text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
a{
  font-size:16px;
  font-weight: bold;
  font-style: italic;
  font-family:serif;
  color:#A4A400;
}
